$color-primary: #FAFAFA;
$color-accent: #1390E5;

$color-black: #000000;
$color-gray-light: rgba(23, 23, 25, 0.3);
$color-gray-dark: #272727;
$color-blue-light: rgba(197, 228, 249, 0.3);
$color-red-dark: #A40000;
$color-white: #FFFFFF;
$color-blue: #1890FF;
$color-blue-hover: #40A9FF;
