@import '../../../../assets/styles/colors.scss';


.list-item {
    display: flex;
    justify-content: space-between;
    background: $color-white;
    cursor: pointer;

    &:hover {
        background: $color-gray;

        .list-item__actions {
            opacity: 1;
        }
    }

    &__name {
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        color: $color-black;
    }
    
    &__actions {
        opacity: 0;
    }

    &__action {
        font-size: 14px;
        line-height: 20px;
        padding: 5px 0;
        cursor: pointer
    }

    &__action-edit {
        color: $color-accent;
        margin-right: 30px;
    }

    &__action-remove {
        color: $color-red;
    }
}