@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/variables.scss';

.header {
    height: $header-height;
    background: $color-white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    &__content {
        padding: 0 12% 0 12%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__menu-block {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__menu-item {
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        color: $color-accent;
        margin-left: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        border-bottom: 2px solid transparent;
        

        &_active, &:hover {
            color: $color-accent;
            border-color: $color-accent;
        }

        & a:hover {
            color: $color-accent;
        }

        &:first-of-type {
            margin-left: 0;
            &:hover {
                border-color: transparent;
            }
        }

    }

    &__signout {
        cursor: pointer;
    }

    &__logo {
        width: 64px;
        height: 64px;
    }
}