@import '../../assets/styles/colors.scss';

.custom-input {
    width: 100%;
    
    &__input:focus {
        background: $color-blue-light;
    }

    &__error-msg {
        color: $color-red-dark
    }
}

