@import '../../assets/styles/colors.scss';

.custom-input {
    width: 100%;
    position: relative;
    
    &__input:focus {
        background: $color-blue-light;
    }

    &__error-msg {
        color: $color-red;
    }

    &__password-icon {
        position: absolute;
        right: 4px;
        top: 2px;

        & svg {
            fill: $color-accent;
        }
    }
}

